# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db


# Outputs
submission.csv

# UV
.python-version